@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background: rgb(184, 180, 180);
}

body::-webkit-scrollbar-thumb {
    background: rgb(101, 101, 219);
}

header {
    background-color: aliceblue;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.navbar {
    display: none;
}

.logo {
    text-decoration: none;
    color: rgb(101, 101, 219);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    color: rgb(101, 101, 219);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: rgb(216, 92, 247);
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(./images/milky-way-ge4b3f6fb2_1920.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: white;
    font-size: 1.8em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: rgb(101, 101, 219);
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-button {
    color: white;
    background-color: rgb(101, 101, 219);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 1em 2em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-button:hover {
    background-color: rgb(139, 98, 233);
    transform: scale(1.2);
}

.social-icons a {
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: rgb(101, 101, 219);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.aboutMe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.aboutMe .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMe .container .image {
    width: 20em;
    height: 20em;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 5px 25px rgba(101, 101, 219, 0.8);
}

.aboutMe .container .image img {
    max-width: 100%;
}

.aboutMe .container .bm-info p {
    font-size: 1.1em;
    font-weight: 400;
    word-wrap: normal;
    padding: 5px;
    margin-bottom: 10px;
}

.team-card {
    min-height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.team-card:hover .image img {
    opacity: 0.9;
}

.team-card .image {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-card .image img {
    max-width: 80%;
    border-radius: 50%;
}

.team-card .container .social-icons a {
    color: rgba(101, 101, 219);
}

.team-card .container .social-icons a:hover {
    color: rgb(216, 92, 247);
}

.team-card .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-icons a {
    padding: 0 15px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 21em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 20%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: rgb(101, 101, 219);
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: rgb(101, 101, 219);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects,
.team {
    background-color: rgb(52, 52, 117);
}

.projects .content {
    margin-top: 30px;
}

.project-card {
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
}

.project-image img {
    width: 100%;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: black;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: rgb(101, 101, 219);
}

.more-details:hover {
    color: rgb(216, 92, 247);
}

.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: black;
}

.contact .info p {
    font-size: 1.5em;
}

.contact .content .card {
    min-width: fit-content;
    max-width: 100%;
}

.footer {
    background-color: rgb(52, 52, 117);
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1em;
    font-weight: 600;

}

.footer-title span {
    color: rgb(101, 101, 219);
}

.footer .social-icons a {
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

@media (max-width: 1199px) {
    body {
        font-size: 14px;
    }

    .navigation a {
        padding-left: 12px;
    }

}

@media (max-width: 1023px) {
    header {
        padding: 12px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        padding: 88px 20px;
    }

    .main h2 {
        font-size: 1em;
    }

    .main h3 {
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }


}

@media (max-width: 680px) {
    body {
        font-size: 12px;
    }

    .main h2 {
        font-size: 1em;
    }

    .main h3 {
        font-size: 1.4em;
    }

    .contact .info p {
        font-size: 1em;
    }

    .aboutMe .container .image {
        width: 15em;
        height: 15em;
    }

    .project-card {
        width: 23em;
        margin: 20px 5px;
    }

}

@media (max-width: 600px) {
    .navigation {
        display: none;
    }

    .navbar {
        display: inherit;
    }

    .navbar .container {
        max-width: 100%;
        width: 80%;
        margin: auto;
    }

    .navbar {
        width: 5em;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        height: 62px;
    }

    .navbar .menu-items {
        display: flex;
    }

    .navbar .nav-container li {
        list-style: none;
    }

    .navbar .nav-container a {
        text-decoration: none;
        color: rgb(101, 101, 219);
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
    }

    .navbar .nav-container a:hover {
        font-weight: bolder;
        color: white;
    }

    .nav-container {
        display: block;
        position: relative;
        height: 60px;
    }

    .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 2.6em;
        width: 2.6em;
        top: 20px;
        left: 0.9em;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .nav-container .hamburger-lines {
        display: flex;
        height: 2.1em;
        width: 2.6em;
        position: absolute;
        top: 20px;
        left: 0.9em;
        z-index: 2;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
    }

    .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 120px;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        height: 100vh;
        width: 500%;
        transform: translate(150%);
        display: flex;
        flex-direction: column;
        margin-right: -40px;
        padding-right: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
    }

    .navbar .menu-items li {
        margin-bottom: 1.2em;
        font-size: 1.5em;
        font-weight: 500;
    }

    .nav-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(-50%);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
}

@media (max-width: 300px) {
    body {
        font-size: 10px;
    }

    .nav-container .checkbox {
        left: 0.5em;
    }

    .nav-container .hamburger-lines {
        left: 1.1em;
    }

    .main h2 {
        font-size: 0.8em;
    }

    .main h3 {
        font-size: 1.4em;
    }

    section {
        padding: 1em;
    }

    .services,
    .projects,
    .contact {
        padding: 5px;
    }

    .aboutMe .container .image {
        width: 10em;
        height: 10em;
    }
}